<!-- check out: https://www.sitepoint.com/bootstrap-carousel-with-css3-animations/ -->
<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Projects</title>
  </head>
  <body>
    <header class="jumbotron">
      <h1 align="center">My current projects</h1>
      <nav class="nav nav-pills flex-column flex-sm-row ">
        <a class="flex-sm-fill text-sm-center nav-link" href="index.html">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="projects.html">Current Projects</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="contactinfo.html">Contact</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="maintenance.html">Blog</a>
      </nav>
    </header>
    <section id="projects">
      <ul class="list-unstyled">
        <li class="media">
          <img src="ghi.png" class="mr-3 img_project">
          <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="https://athulm68.wixsite.com/ghinow?fbclid=IwAR31jZcsqIvTPKkOi3K5QfWHEqi6Tt54-xDqbYXB24wMGwx1KDYB89Vj8uE">The Global Hash Index</a> <a href="https://github.com/AthulMuralidhar/ghi-pub" class="fa fa-github"></a></h5>
            This project is about a public system or infrastructure which enables human beings to 

            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media my-4">
          <img src="unite.png" class="mr-3 img_project">
          <div class="media-body">
            <h5 class="mt-0 mb-1">The Unite language</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media">
          <img src="noimage.png" class="mr-3 img_project">
          <div class="media-body">
            <h5 class="mt-0 mb-1">The Antai Project</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </ul>
    </section>
    <footer class="jumbotron">
        <nav class="nav nav-pills flex-column flex-sm-row ">
        <a class="flex-sm-fill text-sm-center nav-link" href="index.html">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="projects.html">Current Projects</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="contactinfo.html">Contact</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="maintenance.html">Blog</a>
      </nav>
      <br>
      <div class="footer_text">
        <p class="alignleft">ingredients: html5+css+bootstrap</p>
        <p class="alignright">freshly baked, from athul muralidhar  &#9829;</p>
      </div>
      <div style="clear: both;"></div>
    </footer>
  </body>
</html>
